
<div style="margin: 20px auto; width:780px">
  <h1>below is <i><b>view encapsulation</b></i> </h1>
  <div class="app-component">
    <h2>App Component</h2>
    <p>This is <b>app</b> component.</p>
    <button>Button</button>
  </div>
  <div class="component-container">
    <app-comp></app-comp>
    <app-comp1></app-comp1>
  </div>
</div>
<div class="container">
  <h1>below is <i><b>ng content</b></i> </h1>

  <h2>New in smart phones</h2>
  <div class="more-products">
    <app-product
    > <h2 class="title">New in iPhone</h2>
    <button class="btn btn-more">Show more</button>
  
  </app-product>
    <app-product> <h2 class="title">New in Samsung</h2>
      <button class="btn btn-more">Show more</button>
    </app-product>

    <app-product> <h2 class="title">New in One Plus</h2>
      <button class="btn btn-more">Show more</button>
    </app-product>

    <app-product> <h2 class="title">New in MI</h2>
      <button class="btn btn-more">Show more</button>
    </app-product>

    
  </div>
  
</div>
